/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

/* Shared */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background: #222;
    color: #fff;
}
input {
    padding: 3px;
    margin: 3px 0;
}
.header {
    font: 400 2rem/3rem Tahoma;
    padding: 10px;
    background: rgb(22, 22, 22);
    margin-bottom: 20px;
}
.header-3 {
    margin: 15px 0;
    font-size: 1.3rem;
}
.link {
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
    background: #000;
    text-decoration: none;
    cursor: pointer;
}
.link:hover {
    background: #111;
}
.link:active {
    background: #333;
}
.link.active {
    background: #d0d36c;
    color:rgb(5,5,5);
    cursor: default;
}

/* Garage */
.racingTrack {
    margin: 1rem;
}
.singleTrack {
    height: 7rem;
    position: relative;
    overflow: hidden;
}
.editCar {
    display: block;
    /* position: absolute; */
    z-index: 1000;
    left: 15rem;
    top: 0;
}
.singleTrack:hover .editCar {
    display: block;
}
.finish {
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 11%;
    background: #fff;
}
.car {
    background: url('car.svg');
    background-size: cover;
    height: 2.5rem;
    width: 3rem;
    transform: scaleX(-1);
    margin-top: 0.7rem;
}
.svg {
    width: 8%;
    height: 70px;
    position: relative;
}
.pagination {
    text-align: center;
    margin: 40px;
    max-width: 100%;
    overflow: hidden;
    padding: 7px;
    line-height: 28px;
}

.page {
    margin: 0 10px;
}
/* .modal {
    position: fixed;
    font-size: 20px;
    width: 20%;
    height: 20vh;
    top: 200vh;
    left: 40vw;
    transition: all ease-out 0.6s;
    line-height: 20vh;
    background: #555;
    text-align: center;
    z-index: 1000;
}
.modal.active {
    top: 45vh;

    display: block;
} */
.numPage {
    float: right;
    font-size: 1rem;
    margin-right: 10px;

}
.modal {
    position: fixed;
    font-size: 22px;
    width: 60%;
    height: 20vh;
    top: 200vh;
    left: 20%;
    transition: all ease-out 0.6s;
    line-height: 20vh;
    background: #555;
    text-align: center;
    z-index: 1000;
}
.modal.active {
    top: 38vh;
    display: block;
}

/* addCarBlock */
.addCarBlock {
    margin: 1rem;
}
.addOneCar {
    position: relative;
}
.raceBlock {
    margin: 1rem;
}
.colorPickerWindow {
    position: absolute;
    left: 10%;
    top: 3%;
    z-index: 100;
    text-align: center;
}
.colorPickerButton {
    margin-top: 10px;
}
.colorButtons {
    margin: 20px 0;
}
.btn {
    margin: 5px 5px 5px 0;
    cursor: pointer;
}

/* Race block */
.singleTrack {
    padding: 7px 0;
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
}
.started {
    font-size: 0.7rem;
    line-height: 1rem;
    background-color:rgb(0, 69, 219);
    color: #000;
}

.drive {
    font-size: 0.7rem;
    line-height: 1rem;
    background-color:rgb(0, 219, 0);
    color: rgb(0, 0, 0);
}

.crashed {
    font-size: 0.7rem;
    line-height: 1rem;
    background-color:rgb(219, 0, 0);
    color: rgb(0, 0, 0);
}

/* Winners */
.tableLine {
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
    display: flex;
    line-height: 2rem;
    border: 1px dashed #333;
    /* justify-content: space-around; */
}
.tableLine.head {
    text-transform: uppercase;
    font-weight: 800;
    background: #1c1c1c;
}

.tableItem {
    flex: 1;
    text-align: center;
    position: relative;
    user-select: none;
    align-self: center;
}

.tableItem.flex2 {
    flex: 2;
}

.tableItem.flex3 {
    flex: 3;
}

.tableItem.search {
    border-radius: 3px;
    cursor: pointer;
}

.tableItem .svg {
    width: 60%;
}
.asc-desc {
    position: absolute;
    right: 5%;
    top: 0;
    font-size: 0.5rem;
}
.tableItem.search:hover {
    background: #111;
}

.tableItem.search:active {
    background: #000;
}

@media (max-width: 1250px) {
    body {
        font-size: 12px;
    }
    .asc-desc {
        font-size: 0.45rem;
    }
}

@media (max-width: 1100px) {
    .svg {
        width: 8%;
    }

    .tableLine {
        font-size: 0.7rem;
        text-align: left;
        width: 95%;
    }
    .tableItem {
        text-align: left;
        padding-left: 3%;
    }
    .tableItem .svg {
        width: 60%;
    }
    .asc-desc {
        font-size: 0.35rem;
    }

    .modal {
        position: fixed;
        font-size: 16px;
        width: 90%;
        height: 20vh;
        top: 200vh;
        left: 5%;
        transition: all ease-out 0.6s;
        line-height: 20vh;
        background: #555;
        text-align: center;
        z-index: 1000;
    }
    .modal.active {
        top: 38vh;
        display: block;
    }

}
